html{
    background-color: rgb(103, 152, 192);
}




form {
    text-align: center;
    padding: 200px;
    border: solid 5px;
    margin: auto 0;
    color: rgb(253, 201, 33);
}


nav {
    text-align: center;
    color: rgb(255, 255, 255);
}

